*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}
.navbar-brand{
  margin-left:  25px;
}
#btn-menu{
  margin-right: 25px;
}
#login-container{
  width: 30%;
  margin-top: 100px;
  background-color: darkgray;
  padding-top: 20px;
  padding-bottom: 20px;
}
#register-container{
  width: 30%;
  margin-top: 100px;
  background-color: darkgray;
  padding-top: 20px;
  padding-bottom: 20px;
}